.ios .icon-checkbox,
.ios .checkbox i {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #6d6d6d;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background-color: transparent;
}
.ios .icon-checkbox:after,
.ios .checkbox i:after {
  width: 18px;
  height: 18px;
  left: -2px;
  top: -2px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  opacity: 0;
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E");
  background-size: 100% auto;
}
.ios label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.ios label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox,
.ios .checkbox input[type="checkbox"]:checked ~ i {
  background-color: #2196f3;
  border-color: #2196f3;
}
.ios label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox:after,
.ios label.item-checkbox input[type="checkbox"]:checked ~ * .icon-checkbox:after,
.ios .checkbox input[type="checkbox"]:checked ~ i:after {
  opacity: 1;
}
.ios label.item-checkbox {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.ios label.item-checkbox > .icon-checkbox {
  margin-right: 38px;
}
.ios label.item-checkbox .item-content .item-media,
.ios label.item-checkbox.item-content .item-media {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.ios label.item-checkbox.active-state {
  background-color: rgba(0, 0, 0, 0.1);
}


.ios .icon-radio {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    border: 2px solid #6d6d6d;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    display: block;
  }
  .ios .icon-radio:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #2196f3;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
  }
  .ios label.item-radio input[type="radio"]:checked ~ .icon-radio,
  .ios label.item-radio input[type="radio"]:checked ~ * .icon-radio,
  .ios .radio input[type="radio"]:checked ~ .icon-radio {
    border-color: #2196f3;
  }
  .ios label.item-radio input[type="radio"]:checked ~ .icon-radio:after,
  .ios label.item-radio input[type="radio"]:checked ~ * .icon-radio:after,
  .ios .radio input[type="radio"]:checked ~ .icon-radio:after {
    background-color: #2196f3;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .ios label.item-radio {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .ios label.item-radio > .icon-radio {
    margin-right: 38px;
  }
  .ios label.item-radio .item-content .item-media,
  .ios label.item-radio.item-content .item-media {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .ios label.item-radio.active-state {
    background-color: rgba(0, 0, 0, 0.1);
  }